html {
    background-color: #66ccff;
}

.hbox_top, .hbox_bottom {
    background-color: #ffffff;
    width: 800px;
    height: 20px;
    border: 4px #000000;
    padding: 10px;
    margin: auto;
    position: relative;
    display: block;
}

.hbox_top {
    
}

.hbox_bottom {

}

.vbox_left, .vbox_right {
    background-color: #ffffff;
    width: 20px;
    height: 800px;
    border: 4px #000000;
    padding: 10px;
    margin: 20px;
    text-orientation: sideways;
    display: block;
}

.vbox_left {
    position: absolute;
    display: block;
    left: 20px;
}

.vbox_right {
    position: absolute;
    display: block;
    right: 20px;
}

.player_icon {
    height: 80px;
    width: 80px;
    border: 0;
    display: block;
}

.board_middle {
    height: 825px;
    width: 900px;
    border: 0;
    padding: 10px;
    margin: auto;
    position: relative;
    display: block;
    text-align: center;
}