html {
    background-color: #66ccff;
}

.hbox_top, .hbox_bottom {
    background-color: #ffffff;
    width: 750px;
    height: 20px;
    border: 4px #000000;
    padding: 10px;
    margin: auto;
    position: relative;
    display: block;
}

.hbox_top {
    
}

.hbox_bottom {

}

/* Vertical text from https://developer.mozilla.org/en-US/docs/Web/CSS/text-orientation */
.vbox_left, .vbox_right {
    background-color: #ffffff;
    width: 20px;
    height: 750px;
    border: 4px #000000;
    padding: 10px;
    margin: 20px;
    display: block;
    writing-mode: vertical-rl;
    text-orientation: sideways;
}

.vbox_left {
    position: absolute;
    display: block;
    left: 20px;
}

.vbox_right {
    position: absolute;
    display: block;
    right: 20px;
}

.player_icon {
    height: 80px;
    width: 80px;
    border: 0;
    display: block;
}

/* Vertical centering from http://stackoverflow.com/questions/8865458/how-to-vertically-center-text-with-css */
.board_middle {
    height: 790px;
    line-height: 790px;
    width: 900px;
    border: 0;
    padding: 10px 0;
    margin: auto;
    position: relative;
    display: block;
    text-align: center;
}
/*
.board_content {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
*/