body {
    background-color: #66ccff;
    text-align: center;
    margin:auto;

}

#title {
    text-align: center;
}

#scoreList {
    text-align: center;
}

#chart {
    height: 300px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
