html {
    background-color: #66ccff;
}

.hbox_top {
    background-color: #ffffff;
    width: 75%;
    height: 5%;
    border: 1% #000000;
    padding: 1%;
    margin: auto;
    position: relative;
    display: block;
}

.hbox_bottom {
    background-color: #ffffff;
    width: 70%;
    height: 5%;
    border: 1% #000000;
    padding: 1%;
    margin: auto;
    display: block;
    position: absolute;
    bottom: 5%;
    left: 12%;
    display: block;
}

/* Vertical text from https://developer.mozilla.org/en-US/docs/Web/CSS/text-orientation */
.vbox_left, .vbox_right {
    background-color: #ffffff;
    width: 3%;
    height: 70%;
    border: 1% #000000;
    padding: 1%;
    margin: 5%;
    display: block;
    writing-mode: vertical-rl;
    text-orientation: sideways;
}

.vbox_left {
    position: absolute;
    display: block;
    left: 1%;
}

.vbox_right {
    position: absolute;
    display: block;
    right: 5%;
}

.player_icon {
    height: 5%;
    width: 5%;
    border: 0;
    display: block;
}

.player_icon1 {
    position: absolute;
    top: 0;
    left: 5%;
}

.player_icon3 {
    position: absolute;
    bottom: 5%;
    left: 5%
}

.player_icon2 {
    position: absolute;
    top: 0;
    right: 5%;
}

.player_icon4 {
    position: absolute;
    right: 5%;
    bottom: 5%
}

/* Vertical centering from http://stackoverflow.com/questions/8865458/how-to-vertically-center-text-with-css */
.board_middle {
    height: 3%;
    line-height: 780px;
    width: 75%;
    border: 0;
    padding: 10px;
    margin: auto;
    position: relative;
    display: block;
    text-align: center;
}

.time_display {
    display: block;
    margin: auto;
    position: absolute;
    bottom: 12%;
    left: 45%;
    text-align: center;
    line-height: 50px;
}


/* See http://stackoverflow.com/questions/37027575/make-text-unselectable-and-uncopyable-webkit-while-surrounded-by-copyable-text */
.board_middle, .hbox_top, .vbox_left, .vbox_right {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}