html {
    background-color: #66ccff;
    text-align: center;
    margin:auto;

}

h1 {
	position: center;
}

.setup {
	position: absolute;
    display: block;
    text-align: center;

    margin:auto;
    position:relative;
    display:block;
}

.boxed {
	border: 1px black;
	background-color: white;
    text-align: center;
    margin:auto;
    width:30%;
    position:relative;
    display:block;
    border-style: solid;

}

.quotes {
	position: absolute;
	display: block;
    text-align: center;
    margin:auto;
    position:relative;
    display:block;

}

.computer {
    text-align: center;
    margin:auto;
    position:relative;
    display:block;

}

