html {
    background-color: #66ccff;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
}

h1 {
	position: center;
	margin-right: 10%;
    margin-left: 10%;

}

.setup {
	position: absolute;
    display: block;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;

}

.boxed {
	border: 1px black;
	background-color: white;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;


}

.quotes {
	position: absolute;
	display: block;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;

}

.computer {
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;

}

